<nav class="navbar navbar-expand-sm navbar-dark bg-secondary ">
  <a href="/" class="navbar-brand nav-link mx-2 py-1 px-3">
    Blog
  </a>
  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a class="nav-link btn btn-dark mx-2 py-1 px-3" href="/">Home</a>
    </li>
    <% categories.forEach(category => { %>
      <li class="nav-item">
        <a class="nav-link btn btn-dark mx-2 py-1 px-3" href="/category/<%=category.slug%>"><%= category.title %></a>
      </li>
      <% }) %>
  </ul>
  <ul class="navbar-nav mx-3">
    <li class="nav-item">
      <a href="admin/users/create" class="btn btn-outline-light mx-2 py-1 px-3">Criar</a>
    </li>
    <li class="nav-item">
      <a href="/login" class="btn btn-outline-light mx-2 py-1 px-3">Login</a>
    </li>
  </ul>
</nav>