<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a href="/" class="navbar-brand ps-5 fs-4">
      Blog
    </a>
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link btn btn-primary fs-5" href="/admin/categories">Categorias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-primary fs-5" href="/admin/articles">Artigos</a>
      </li>
    </ul>
    <ul class="navbar-nav mx-5">
      <li class="nav-item">
        <a class="nav-link btn btn-danger fs-4" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>